* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
}

.search {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.search__input {
    border-radius: 3px;
    height: 30px;
    width: 200px;
    margin-right: 10px;
    padding: 0 5px;
    outline: none;
    border: 1px solid #ebebeb;
    font-size: 14px;
}

.search__button {
    height: 30px;
    width: auto;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #ebebeb;
}

.container {
    padding: 20px;
    text-align: center;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}